.p
{
	font-size: 18px;
	color: white;
	margin-left: 10px;
	font-weight:bolder;
}

.jumbotron
{
	text-align: center;
	background-color: #337ab7;
	color: black;
	font-weight: bolder;
}

#tableHeader
{
	background-color: #337ab7;
	margin-top: 20px;
	color:black;
	font-weight: bolder;
}



#tableBorder
{
	background-image: url("./Images/ilinois_terminal.jpg");
	border-left: 2px solid lightblue;
	border-right: 2px solid lightblue;
	border-bottom: 2px solid lightblue;
	font-style: 200px;
	color: aliceblue;
}

.time
{
	border-radius: 5px;
	font-size: 25px;
	width: 120px;
	background-color: #337ab7;
	text-align: center;
	font-weight: bolder;
}